html,
body {
  width: 1440px;
  min-height: 1750px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: black;
   
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
 }

 img {
  max-width: 100%;
  height: auto;
}
  
  /*
  разметка для вёрстки
  */

* { 
  outline:1px solid red;
}

.button {
  display: inline-block;
  padding: 11px 0px;
  font: inherit;
  
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  width: 240px;
  vertical-align: middle;
  /* временно
  padding-top: 15px;
  padding-bottom: 15px;
  */
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 0;
}

.main-header {
  /* Временно для сетки */
  width: 100%;
  background-color: #eeeeee;
  padding-top: 49px;
}

.inner-page .main-header {
  /* Временно для сетки */
  width: 100%;
  padding-top: 49px;
  margin-bottom: 0px;
  background-color: #eeeeee;
}

.main-header-logo {
  opacity: 1;
}

.main-header-logo a:hover,
.main-header-logo a:focus {
  opacity: 0.8;
}

/*не поняла почему не работает*/
.main-header-logo a:active {
  opacity: 0.3;
}

.main-header .main-navigation {
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.basket-navigation {
  display: flex;
  max-width: 135px;
  padding-left: 30px;
}

.site-navigation a,
.basket-navigation a {
  display: block;
  padding: 25px 23px;

  vertical-align: middle;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
 color: #fb565a;
}

.site-navigation a:active 
.basket-navigation a:active {
 color: rgba(0, 0, 0, 0.3);
}

/* красное подчеркивание меню
a.nav-inner-page::after {
background-color: #fb565a;
content: "";
position: absolute;
width: 75px;
height: 2px;
top: 163px;
left: 0px;
}
*/


.slider {
  background-color: #eeeeee;
  margin: 0px;
  text-transform: none;
  width: auto;
  list-style: none;
}

.slider-info .slider-heading {
  display: inline-block;
  padding-top: 63px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.slider-info .slider-heading-bottom {
  display: inline-block;
  padding-top: 12px;
}

.slider .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.slider .slider-info {
  width: 385px;
  margin: 0;
  padding: 0;
}

.slider-image img {
display: block;
  margin-right: 30px;
  margin-top: 2px;

}

.portfolio {
margin-bottom: 80px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 60px;
  list-style: none;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
}

.portfolio-item p,
.portfolio-item h3 {
  margin: 0;
}

.portfolio-item-img {
  display: block;
  padding-top: 80px;
  order: -1;
}

.portfolio-item h3 {
  display: inline-block;
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.portfolio-item .portfolio-item-bottom {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #283136;
}

.portfolio-item .button {
  margin-top: 35px;
}

.portfolio-item .button-red {
  width: 160px;
}

.portfolio-item .button-green {
  background-color: #00ca74;
  width: 160px;
}

.portfolio-item .button-green:hover,
.portfolio-item .button-green:focus {
  background-color: #00bc6c;
}

.portfolio-item .button-green:active {
  background-color: #00aa62;
}

.portfolio-item .button-yellow {
  background-color: #efc84a;
  width: 160px;
}

.portfolio-item .button-yellow:hover,
.portfolio-item .button-yellow:focus {
  background-color: #eab534;
}

.portfolio-item .button-yellow:active {
  background-color: #e5a722;
}

.index-columns::before {
  content: "";
  position: absolute;
  width: 1160px;
  height: 2px;

  background-color: #eeeeee;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 60px;
}

.features {
  width: 700px;
}

.about-us {
  width: 400px;
}

.features p,
.features h2
.features h3 {
  margin: 0;
}

.features h2 {
  margin-top: 80px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.features p {
  margin-top: 35px;
}

.features h3 {
  margin-top: 35px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.features-list {
  display: inline-block;
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding-left: 35px;
}

.features-item {
  padding-top: 11px;
  padding-bottom: 14px;
}

.about-us {
  display: flex;
  flex-direction: column;
  
}

.about-us-image {
  display: block;
  margin-left: auto;
  margin-top: 45px;
}

.about-us h3 {
  margin: 0;
}

.about-us h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  padding-right: 15px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #000000;
}

.table-about-us td {
	padding: 10px;
  margin-top: 30px;
}

.table-about-us .table-persent {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;

  color: #000000;
}

.table-text td {
  padding-top: 25px;
}

.table-about-us .table-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  color: #283136;
}

.partners {
margin-top: 0px;
margin-bottom: 0px;

}

.partners-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 46px;
  padding-bottom: 44px;

  list-style: none;
  
  /* Временно для сетки */
  min-height: 90px;
}

.list-partners-logo {

  /* Временно для сетки */
  min-height: 90px;
}

.partners a {
	opacity: 0.2;
}

.partners a:hover,
.partners a:focus {
 	opacity: 1;
}

.portfolio-item .button-green:active {
  background-color: #00aa62;
}

.partners a:active {
	opacity: 0.1;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  margin-top: 80px;
  
  /* Временно для сетки */
  min-height: 416px;
}

.map {
  width: 100%;
  
  position: relative;

  /* Временно для сетки */
  min-height: 416px;
}

.adress {
  display: block;
  width: 319px;
  min-height: 250px;
  position: absolute;
  padding-left: 50px;
  padding-top: 54px;
  margin-left: 140px;
  margin-top: 54px;
    
  background-color: white;
}

.adress .adress-header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.adress p,
.adress a {
	color: #666666;
}

.adress .button-adress {
  color: #ffffff;
  width: 219px;
}

.main-footer {
  padding: 0;
   margin-top: 69px;

  /* Временно для сетки */
  min-height: 217px;
  background-color: white;
}

.main-footer .container {
  display: flex;
}

.footer-social {
  width: 145px;

  /* Временно для сетки */
  min-height: 100px;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  background-color: #e1e1e1;
  width: 79px;
  border-radius: 50%;
  padding-top: 28px;
  padding-bottom: 28px;
}

.social-button a:active {
	opacity: 0.3;

}

.footer-friend {
  width: 600px;

  /* Временно для сетки */
  min-height: 100px;
}

.main-footer .footer-sale {
  font-size: 36px;
  font-weight: 700;
  line-height: 10px;
  color: #000000;
}

.modal-wright-us {
display: none;
}

.catalog-header h1 {
  min-height: 100px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 116px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: #eeeeee;
  color: #000000;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  min-height: 700px;
}

.filters {
  width: 261px;
  margin-right: 140px;
  /* Временно для сетки */
  min-height: 700px;
}


.filter fieldset {
  border: none;
  padding: 0px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
  list-style: none;
  line-height: 18px;
  padding: 0px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3)
}


.filter .button-filter {
  background-color: #eeeeee;
  color: #000000;
  width: 260px;
}

.filter .button-filter:hover,
.filter .button-filter:focus {
  background-color: #dfdfdf;
}

.filter .button-filter:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sorted {
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

.sorted,
.catalog,
.pagination {
  width: 760px;
}

.sorted {
  /* Временно для сетки */
  min-height: 133px;
  list-style: none;
  }


.sorted .sorted-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-sorted .sorted a {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sorted .sorted ul,
.catalog-sorted .sorted li {
  list-style: none;
  padding: 0px;
}

.catalog {
  /* Временно для сетки */
  min-height: 700px;
  }

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 1, 1, 0.1);
  width: 360px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item: nth-child(2n) {
  margin-right: 0;
}

.catalog-item .catalog-item-info { 
   display: none;
}

.catalog-item:hover .catalog-item-info { 
   display: block;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px rgba(77, 77, 77, 0.1);
  position: relative;
}

.catalog-item .catalog-item-title h3 {
  font-size: 18px;
  line-height: 18;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item h3,
.catalog-item p,
.catalog-item .item-price {
  text-align: center;
}

.catalog-item .catalog-item-title a:hover,
.catalog-item .catalog-item-title a:focus {
  color: #fb565a;
}

.catalog-item .catalog-item-title a::active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .catalog-item-info {
  position: absolute;
  width: 360px;
  background-color: #eeeeee;
  bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.button .button-catalog-item-info {
  width: 200px;
}

 .pagination {
  /* Временно для сетки */
  min-height: 50px;
  }

.pagination ul {
list-style: none;
}

.pagination .button-pagination {
  background-color: #eeeeee;
  color: #000000;
  width: 50px;
}

.pagination .next-button {
  width: 260px;
}

.pagination .button-pagination:hover,
.pagination .button-pagination:focus {
  background-color: #dfdfdf;
}

.pagination .button-pagination:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}


































 

